# Web框架
Flask==3.1.1
flask-cors==6.0.0
Werkzeug==3.1.3

# HTTP请求
requests==2.32.3

# 安全相关
cryptography==45.0.3

# 其他依赖
Pillow==11.2.1
pycryptodome==3.23.0
websockets==15.0.1
brotli==1.1.0
certifi==2025.4.26
mutagen==1.47.0

# 开发和调试
gunicorn==23.0.0
